#navbar_container{
  margin:0px;
}

/*Fix Nav Button Not Found*/
.icon-bar-color{
  border:1px solid #2f92d5;
}
.navbar-toggle-color{
  border:1px solid #2f92d5;
}


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .navbar-nav {
   width: 100%;
   text-align: center;
 }
 .navbar-nav > li {
   float: none;
   display: inline-block;
 }
}

/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
}

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
}
