<div>
  <!--  CSS -->
  <link rel="stylesheet" href="app/css/home/nav.css">

   <nav id="navbar_container" class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle navbar-toggle-color" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar icon-bar-color"></span>
            <span class="icon-bar icon-bar-color"></span>
            <span class="icon-bar icon-bar-color"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <!-- <li><a href="#">BLOG</a></li> -->
            <li class="active"><a href="#">PROJECTS</a></li>
            <!-- <li><a href="#">PUBLICATIONS</a></li> -->
            <!-- <li><a href="#">RESUME</a></li> -->
            <!-- <li><a href="#">TUTORIAL</a></li> -->
          </ul>
        </div>
      </div>
    </nav>
</div>
