<div id="full_head" class="bs-docs-header" id="content">
  <!--  CSS -->
  <link rel="stylesheet" href="app/css/home/profile.css">

  <div id="full_head_container" class="container">
    <div class="row">
      <div id="header_image_container" class='col-xs-12 col-sm-5 col-md-5'>
        <img id="profile_pic" src="app/assets/img/profile.jpg"/>
      </div>
      <div id="header_text_container" class='col-xs-12 col-sm-7 col-md-7'>
        <h1 id="profile_name">Alexander Chen</h1>
        <p  id="profile_tagline">Computer Engineering / University of Toronto</p>
      </div>
    </div>
  </div>
</div>
